*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

.boton-enlace {
    display: inline-block;
    padding: 10px 20px; 
    background-color: #2ACCC4; 
    color: #ffffff; 
    text-align: center;
    text-decoration: none;
    font-size: 1.75em;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:#2ACCC8; }
.color-acento2{ color: black; }

header{
    background-color: #BDF2F2;
    
}

header .logo{
    margin: 0;
    padding: 10px 15px;
    width: auto; 
    height: 90px;

}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: #2ACCC8;
}

header a:hover{
    color: #2ACCC8;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image:url("img/Hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#hero h1{
    color: white;
}

#hero .boton-enlace{
    font-size: 1.75em;
    margin-top: 320px;
}

#somos-beaute .container{
    text-align: center;
    padding: 200px 12px;
}

#nuestros-programas{
    background-color: white;
    color: #2ACCC8;
    text-align: center;
}

#nuestros-programas .container{
    padding: 30px 12px;
}

#nuestros-programas h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-programas p{
    display: none;
    color:black;
}

#nuestros-programas .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child {
    background-image: url("img/fondocarta2.png");
    color:black;
}

.carta:nth-child(2) {
    background-image: url("img/fondocarta2.png");
    color: black;
}

.carta:nth-child(3) {
    background-image: url("img/fondocarta2.png");
    color: black;
}


#caracteristicas .container{
    text-align: center;
    padding: 10px 13px;
}

#caracteristicas h2{
    color:#2ACCC4;
}


#caracteristicas .form-container {
    max-width: 500px;
    margin: 0 auto 50px;
    background-color: #e0f7fa;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 30px;
}

#caracteristicas .input-group {
    margin-bottom: 15px;
}

#caracteristicas .input-group label {
    display: block;
    margin-bottom: 5px;
}

#caracteristicas .input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

#caracteristicas .input-group button {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #2ACCC4;
    color: white;
    cursor: pointer;
    font-size: 16px;
}


footer{
    background-color: #BDF2F2;
    color: #2ACCC8;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


footer a{
    text-decoration: none;    
    padding: 5px;
    color: inherit;
}

footer .container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #somos-beaute .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-beaute .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-beaute h2{
        margin-top: 0px;
    }

    #somos-beaute .img-container{
        background-image: url("img/centroEsstetica.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    #nuestros-programas .programas{
        display: flex;
        justify-content: center;
    }

    #nuestros-programas p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-programas h2{
        font-size: 4em;
    }

    #nuestros-programas h3{
        margin-top: 0;
    }

    #nuestros-programas .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: #BDF2F2;
        box-shadow: 2px 2px 10px #BDF2F2;
    }
    .carta:first-child {
        background-image: url("img/fondocarta2.png");
        color: #2ACCC4;
    }
    
    .carta:nth-child(2) {
        background-image: url("img/fondocarta2.png");
        color: #2ACCC4;
    }
    
    .carta:nth-child(3) {
        background-image: url("img/fondocarta2.png");
        color: #2ACCC4;
    }

    #caracteristicas{
        background-image: url("media/background-2.jpeg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    #caracteristicas .form-container {
        padding: 30px;
    }

    #caracteristicas .input-group label {
        font-size: 1.25em;
    }

    #caracteristicas .input-group input,
    .input-group textarea {
        font-size: 1.25em;
    }

    #caracteristicas .input-group button {
        font-size: 1.5em;
    }

    footer .container {
        flex-direction: row;
    }

}

@media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }

}

@media (max-width: 849px) {
    #hero{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        background-image:url("img/HERO22.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

